<%= render "popular_artists" %>

<div id="contents"> 

  <h1><%= t('general.all_artists') %></h1>

  <table>
    <tr>
      <th><%= t('general.artist') %></th>
      <th><%= t('views.artists.next_show') %></th>
    </tr>

  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist %></td>
      <td><% event = artist.events.upcoming.first %>
            <%= link_to event.start_time.to_formatted_s(:short) + event.venue.name.to_s, event_path(event.id) unless event.nil?%><br>
    </tr>
  <% end %>
  </table>

  <br />

</div>