<div id="contents">
  <p>
    <h1><%= @artist.name %></h1>
    <%= link_to t('general.edit'), edit_artist_path(@artist) if @artist.owned_by? current_user %>
  </p>
  <p>
    <h2><%= t('views.artists.upcoming_shows') %></h2><br />
    <i><%= t('views.artists.none') unless @artist.events.upcoming.any? %></i>
      <%= render @artist.events.upcoming %>
  </p>
  <p>
    <h2><%= t('views.artists.past_shows') %></h2><br />
    <i><%= t('views.artists.none') unless @artist.events.past.any? %></i>
    <ul>
      <% @artist.events.past %>
    </ul>
  </p>

  <% if @artist.owned_by? current_user %>
    <%= link_to t('general.edit'), edit_artist_path(@artist) %>
  <% end %>
</div>