<div id="contents">
  <p>
    <h2><%= @artist.name %></h2>
  <p>
    <%= t('views.artists.upcoming_shows') %><br>
    <i><%= t('views.artists.none') unless @artist.events.upcoming.any? %></i>
    <ul>
      <% @artist.events.upcoming.each do |event| %>
        <li><%= link_to (event.start_time.to_formatted_s(:short) + ', ' + event.venue.name), event %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= t('views.artists.past_shows') %><br>
    <i><%= t('views.artists.none') unless @artist.events.past.any? %></i>
    <ul>
      <% @artist.events.past.each do |event| %>
        <li><%= link_to (event.start_time.to_formatted_s(:short) + ', ' + event.venue.name), event %></li>
      <% end %>
    </ul>
  </p>

  <% if @artist.owned_by? current_user %>
    <%= link_to t('general.edit'), edit_artist_path(@artist) %>
  <% end %>
</div>