<div class="event_listing">
  
  <div class="date_block">
    <b><%= event.start_time.strftime("%A") %></b><br />
    <%= event.start_time.strftime("%d %b") %><br /><br />
    
  </div>
  
  <div class="artist_venue_container">
    <div class="artist_block">
      <% event.artists.each do |artist| %>  
        <%= link_to artist.name, artist %><br>
      <% end %>
    </div>
    
    <div class="venue_block">
      <p><%= link_to event.venue.name, event.venue unless event.venue.nil? %><br />
      <%= event.show_cost %><br />
      <%= link_to t('views.events.ticket_link'), event.ticket_url unless event.ticket_url.nil? %>
    </div>
  </div>
    <% if logged_in? %>
      <% if !current_user.profile.events.member?(event) %>
        <%= form_for( SavedEvent.new, :url => save_event_path ) do |f| %>
          <%=f.hidden_field :event_id, :value => event.id  %>
          <%=f.submit t('views.events.add_to_calendar') %>
        <% end %>
      <% end %>
    <% else %>
      <%= t('views.events.login_for_calendar') %>
    <% end %>

</div> 