<div id="contents">
  <% div_for(@event) do %>
    <div class="artist_date_container">
      <div class="artist_block" >
        <h2><% @event.artists.each do |artist| %>  
          <%= artist.name %> <span class='explanation'><%= link_to t('general.more'), artist %></span><br \>
        <% end %></h2>
      </div>
      
      <div class="date_block">
        <b><%= @event.start_time.strftime("%A") %></b><br />
        <%= @event.start_time.strftime("%d %b") %><br />
      </div>
    </div>
    
    <div class="venue_favourites_container">
      <div class="venue_block">
        <p><h3><span class="venue_name"><%= @event.venue.name unless @event.venue.nil? %></b>
        <span class="explanation"><%= link_to t('general.more'), @event.venue %></span></span></h3>
        <%= show_cost(@event.cost) if @event.cost %><br />
      </div>
      <div class="favourites_link">
        <% if logged_in? %>
          <% if current_user.profile.events.member?(@event) %>
              <%= remove_event_shown(@event) %>
              <%= add_event_hidden(@event) %>
          <% else %>
              <%= remove_event_hidden(@event) %>
              <%= add_event_shown(@event) %>
          <% end %>
        <% else %>
            <%= t('views.events.login_for_favourites') %>
        <% end%>
      </div>
    </div>
  <% end %>
</div>
