<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('general.there_is_an_error') %></h2>
      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.venues.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('views.venues.address') %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label t('views.venues.website') %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label t('views.venues.phone') %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>
