<div id="contents">
  <p>
    <h1><%= @venue.name %></h1>
      
  <p>
    <h3><%= link_to @venue.address, "http://maps.google.com/?q=loc:#{@venue.address}" %></h3>
  <p>
    <h3><%= number_to_phone(@venue.phone) %></h3>
  <p>
    <h3><%= link_to t('views.venues.website'), @venue.website %></h3>
  <% if @venue.owned_by? current_user %>
    <%= link_to t('general.edit'), edit_venue_path(@venue) %>
  <% end %>
  <br \>
  <h2>Upcoming shows:</h2>
  <%= render @venue.events.upcoming %>


</div>